<link rel="stylesheet" type="text/css" href="/css/static.css"/>

<title>House Life? Realty </title>
 <div id="background-video">
            <video autoplay="true" loop>
                <source src="/img/Home.mp4" type="video/mp4" >
            </video>
        </div>
<div id="box9">
 <h3> House Life? Realty </h3>
 <h4> How's life? Need a break? Your Home Away From Home </h4>
 <h4> Failed to log in, please try again or try signing up.</h4>
 <form method=post action=/login>
	      <input type=text placeholder="Email" name="user[email]"><br>
          <input type=password placeholder="Password" name="user[password]"></br>
          <input type=submit value="Log In">
        </form> 
        <form method=get action=/signuppage>
          <input type=submit value="Sign Up">
        </form>        
</div>