<link rel="stylesheet" type="text/css" href="/css/static.css"/>

<title>AirBnB</title>
 <div id="background-video">
            <video autoplay="true" loop>
                <source src="/img/Home.mp4" type="video/mp4" >
            </video>
        </div>
<div id="box">
 <h3> Congratulations! Your property has been listed! </h3>
 <h4> Would you like to return to the homepage?</h4>
 <form method=get action=/home>
          <input type=submit value="Return">
			</script>
        </form>         
</div>