<link rel="stylesheet" type="text/css" href="/css/static.css"/>

<title>House Life? Realty </title>
 <div id="background-video">
            <video autoplay="true" loop>
                <source src="/img/Home.mp4" type="video/mp4" >
            </video>
        </div>
<div id="box5">
 <h3> Congratulations! Your registration has been succesful! </h3>
 <h4> You have taken the first step towards a journey of a lifetime</h4>
 <h4> Would you like to return to the log in page?</h4>
 <form method=get action=/>
          <input type=submit value="Return">
			</script>
        </form>         
</div>