
<link rel="stylesheet" type="text/css" href="/css/static.css"/>

<title>House Life? Realty </title>
 <div id="background-video">
            <video autoplay="true" loop>
                <source src="/img/Home.mp4" type="video/mp4" >
            </video>
        </div>
<div id="box">
 <h3> Sign Up! </h3>
 <form method=post action=/signup>
	      <input type=text placeholder="Email" name="user[email]"><br>
          <input type=password placeholder="Password" name="user[password]"></br>
         
          <input type=submit value="Sign Up">
 </form>     
      <button id='b1' onclick="myFunction()">Terms & Conditions</button>

      <script>
      function myFunction() {
          alert("I didn't learn Bcrypt, I will not hold responsibility for loss of information. Especially Passwords.");
      }
      </script>
    
</div>
